body {
    font-family: 'Poppins', sans-serif;
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
    color: #353535;
}

header {
    background: url('https://i.ibb.co/99pndyx/image1.jpg'), url('https://i.ibb.co/b1j6NM8/image2.jpg');
    background-size: cover, cover;
    background-position: left, right;
    text-align: center;
    padding: 60px 20px;
    color: #ffffff;
    position: relative;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.booking, .report {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #284b63;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #284b63;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #353535;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #353535;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3c6e71;
    color: white;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }
}
